
    /* Style for the body */
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    /* Style for the container */
    .container {
      text-align: center;
    }

    /* Style for the buttons */
    .btn {
      padding: 10px 20px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .btn-applicant {
      background-color: #007bff;
      color: #fff;
    }

    .btn-recruiter {
      background-color: #28a745;
      color: #fff;
    }

    .btn-login {
        background-color: #d95787;
        color: #fff;
      }