/* Reset default browser styles */
body, h1, form, label, input, textarea, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container for the form */
.scrollk {
    overflow-y: scroll;
    height: 80vh; /* Adjust the height as needed */
    padding: 20px;
}
.iframe-container {
    text-align: center; /* Align iframe horizontally */
}

#iframe-container iframe {
    display: inline-block; /* Make iframe display as inline-block */
    vertical-align: middle; /* Align iframe vertically */
}


/* Center the form */
form {
    max-width: 800px;
    margin: 0 auto;
}

/* Style form elements */
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 150px; /* Adjust the width as needed */
}

input[type="text"],
input[type="email"],
textarea,
select,
input[type="file"] {
    width: calc(100% - 170px); 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label[for="currentAddress"] {
    display: inline-block;
    width: 150px; /* Adjust width as needed */
    margin-bottom: 5px;
    font-weight: bold;
}

#currentAddress {
    width: calc(100% - 170px); /* Adjust width as needed */
    vertical-align: top; /* Align textarea with label */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}


label[for="permanentAddress"] {
    display: inline-block;
    width: 150px; /* Adjust width as needed */
    margin-bottom: 5px;
    font-weight: bold;
}

#permanentAddress {
    width: calc(100% - 170px); /* Adjust width as needed */
    vertical-align: top; /* Align textarea with label */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

select {
    height: 35px; /* Match height with text inputs */
}

input[type="checkbox"] {
    margin-right: 5px;
    transform: translateY(2px);
}

button[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the video container */
#myvideo {
    margin-bottom: 20px;
}

/* Style the form header */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Align gender options adjacent to each other */
#gender label,
#gender input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
}
